.pageContainer {
  padding: 2rem 3rem;

  max-width: 285px;
}

.title {
  display: flex;

  justify-content: space-between;
}

.title h1 {
  font-size: 1.5rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;

  padding: 1.5rem 0;
}

.inputField {
  margin-bottom: 2rem;
}

.inputField:last-child {
  margin-bottom: 1rem;
}

.buttonField {
  display: flex;

  justify-content: space-between;
}
