.pageContainer {
  padding: 2rem 3rem;
}

.top {
  display: flex;

  justify-content: space-between;
}

.top h1 {
  font-size: 1.5rem;
}

.top button {
  padding: 0.5rem 2rem;

  border-radius: 0.25rem;

  background-color: #fff;
}

.top button:hover {
  background-color: var(--green);

  transition: all 0.2s ease;
}

.filters {
  padding: 1rem 0;

  display: flex;
}

.plateInput,
.brandInput {
  display: flex;
  flex-direction: column;
}

.plateInput input {
  width: 9rem;

  margin-right: 2rem;

  padding: 0.15rem;

  border: 0.15rem solid black;
}

.brandInput input {
  width: 12rem;

  padding: 0.15rem;
  border: 0.15rem solid black;
}
