.pageContainer {
  padding: 2rem 3rem;
}

.title {
  display: flex;

  justify-content: space-between;
}

.title h1 {
  font-size: 1.5rem;
}

.filters {
  padding: 1rem 0;

  display: flex;
}

.plateInput {
  width: 10rem;

  margin-right: 2rem;
}

.buttonIcon {
  padding: 0.1rem 0 0 0;

  margin-right: 0.25rem;
}
