.pageContainer {
  padding: 2rem 3rem;
}

.title {
  display: flex;

  justify-content: space-between;
}

.title h1 {
  font-size: 1.5rem;
}

.filters {
  padding: 1rem 0;

  display: flex;
}

.plateInput,
.brandInput {
  display: flex;
  flex-direction: column;
}

.plateInput input {
  width: 10rem;

  margin-right: 2rem;
}

.brandInput input {
  width: 12rem;
}
