* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

:root {
  --white: #fff;
  --background: #f2f3f5;
  --gray-line: #dcdde0;
  --text: #666666;
  --title: #2e384d;
  --red: #e83f5b;
  --green: #4cd62b;
}

body,
input,
select,
textarea,
button {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

input,
select {
  display: flex;
  flex-direction: column;

  padding: 0.15rem;

  border: 0.15rem solid black;

  width: 12rem;
}

select {
  padding: 0.10rem;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;

  color: inherit;
}
