.pageContainer {
  padding: 2rem 3rem;
}

.importNewBrand {
  display: flex;
  flex-direction: column;

  padding: 1.5rem 0;
}

.title {
  display: flex;

  justify-content: space-between;
}

.title h1 {
  font-size: 1.5rem;
}

.filters {
  padding: 1rem 0;

  display: flex;
}

.table {
  border-collapse: collapse;
  width: 100%;

  margin: 2rem auto;

  border: 0.1rem solid black;
}

.table th {
  background-color: gray;

  border-right: 0.1rem solid black;

  padding: 0.1rem;
}

.table td {
  background-color: lightgray;

  text-align: center;

  padding: 0.2rem;

  border-right: 0.1rem solid black;
}
